.head{
  text-align:center;
  background-color: white;
  background: url(https://cdn.wallpapersafari.com/34/17/T62VH0.jpg);
}
.profile-pic {
  border-radius: 50%;
}
#about{
  background-color: grey;
}
.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}
